<h1> <center> <b> IBM Employee HR Data Analysis By Khawaja Hizbullah

In [13]:
import pandas as pd

df = pd.read_csv("HR_Employee_Attrition.csv")

<h1>Data Loading & Overview</h2>

In [14]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
df.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
print(df.info)

<bound method DataFrame.info of       Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]>

In [ ]:
print(df.describe())

               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  \
count  1470.000000  1470.000000       1470.000000  1470.000000         1470.0
mean     36.923810   802.485714          9.192517     2.912925            1.0
std       9.135373   403.509100          8.106864     1.024165            0.0
min      18.000000   102.000000          1.000000     1.000000            1.0
25%      30.000000   465.000000          2.000000     2.000000            1.0
50%      36.000000   802.000000          7.000000     3.000000            1.0
75%      43.000000  1157.000000         14.000000     4.000000            1.0
max      60.000000  1499.000000         29.000000     5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement  \
count     1470.000000              1470.000000  1470.000000     1470.000000
mean      1024.865306                 2.721769    65.891156        2.729932
std        602.024335                 1.093082    20.329428        0.711561
min          1.000000                 1.000000    30.000000        1.000000
25%        491.250000                 2.000000    48.000000        2.000000
50%       1020.500000                 3.000000    66.000000        3.000000
75%       1555.750000                 4.000000    83.750000        3.000000
max       2068.000000                 4.000000   100.000000        4.000000

          JobLevel  ...  RelationshipSatisfaction  StandardHours  \
count  1470.000000  ...               1470.000000         1470.0
mean      2.063946  ...                  2.712245           80.0
std       1.106940  ...                  1.081209            0.0
min       1.000000  ...                  1.000000           80.0
25%       1.000000  ...                  2.000000           80.0
50%       2.000000  ...                  3.000000           80.0
75%       3.000000  ...                  4.000000           80.0
max       5.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count       1470.000000        1470.000000            1470.000000
mean           0.793878          11.279592               2.799320
std            0.852077           7.780782               1.289271
min            0.000000           0.000000               0.000000
25%            0.000000           6.000000               2.000000
50%            1.000000          10.000000               3.000000
75%            1.000000          15.000000               3.000000
max            3.000000          40.000000               6.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count      1470.000000     1470.000000         1470.000000
mean          2.761224        7.008163            4.229252
std           0.706476        6.126525            3.623137
min           1.000000        0.000000            0.000000
25%           2.000000        3.000000            2.000000
50%           3.000000        5.000000            3.000000
75%           3.000000        9.000000            7.000000
max           4.000000       40.000000           18.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count              1470.000000           1470.000000
mean                  2.187755              4.123129
std                   3.222430              3.568136
min                   0.000000              0.000000
25%                   0.000000              2.000000
50%                   1.000000              3.000000
75%                   3.000000              7.000000
max                  15.000000             17.000000

[8 rows x 26 columns]

<h2></h2>

<h2>Handling Missing Data</h2>

In [16]:
#Identify missing values
print(df.isnull())

        Age  Attrition  BusinessTravel  DailyRate  Department  \
0     False      False           False      False       False
1     False      False           False      False       False
2     False      False           False      False       False
3     False      False           False      False       False
4     False      False           False      False       False
...     ...        ...             ...        ...         ...
1465  False      False           False      False       False
1466  False      False           False      False       False
1467  False      False           False      False       False
1468  False      False           False      False       False
1469  False      False           False      False       False

      DistanceFromHome  Education  EducationField  EmployeeCount  \
0                False      False           False          False
1                False      False           False          False
2                False      False           False          False
3                False      False           False          False
4                False      False           False          False
...                ...        ...             ...            ...
1465             False      False           False          False
1466             False      False           False          False
1467             False      False           False          False
1468             False      False           False          False
1469             False      False           False          False

      EmployeeNumber  ...  RelationshipSatisfaction  StandardHours  \
0              False  ...                     False          False
1              False  ...                     False          False
2              False  ...                     False          False
3              False  ...                     False          False
4              False  ...                     False          False
...              ...  ...                       ...            ...
1465           False  ...                     False          False
1466           False  ...                     False          False
1467           False  ...                     False          False
1468           False  ...                     False          False
1469           False  ...                     False          False

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                False              False                  False
1                False              False                  False
2                False              False                  False
3                False              False                  False
4                False              False                  False
...                ...                ...                    ...
1465             False              False                  False
1466             False              False                  False
1467             False              False                  False
1468             False              False                  False
1469             False              False                  False

      WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0               False           False               False
1               False           False               False
2               False           False               False
3               False           False               False
4               False           False               False
...               ...             ...                 ...
1465            False           False               False
1466            False           False               False
1467            False           False               False
1468            False           False               False
1469            False           False               False

      YearsSinceLastPromotion  YearsWithCurrManager
0                       False                 False
1                       False                 False
2                       False                 False
3                       False                 False
4                       False                 False
...                       ...                   ...
1465                    False                 False
1466                    False                 False
1467                    False                 False
1468                    False                 False
1469                    False                 False

[1470 rows x 35 columns]

In [19]:
#counting of null values in each column
print(df.isnull().sum())

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

<h2>Updating & Filtering</h2>
<p>filtering all Attrition == 'Yes' entries</p>

In [21]:
attrition_yes = df[df["Attrition"]== "Yes"]
print(attrition_yes)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
2      37       Yes      Travel_Rarely       1373  Research & Development
14     28       Yes      Travel_Rarely        103  Research & Development
21     36       Yes      Travel_Rarely       1218                   Sales
24     34       Yes      Travel_Rarely        699  Research & Development
...   ...       ...                ...        ...                     ...
1438   23       Yes  Travel_Frequently        638                   Sales
1442   29       Yes      Travel_Rarely       1092  Research & Development
1444   56       Yes      Travel_Rarely        310  Research & Development
1452   50       Yes  Travel_Frequently        878                   Sales
1461   50       Yes      Travel_Rarely        410                   Sales

      DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    1          2     Life Sciences              1
2                    2          2             Other              1
14                  24          3     Life Sciences              1
21                   9          4     Life Sciences              1
24                   6          1           Medical              1
...                ...        ...               ...            ...
1438                 9          3         Marketing              1
1442                 1          4           Medical              1
1444                 7          2  Technical Degree              1
1452                 1          4     Life Sciences              1
1461                28          3         Marketing              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
2                  4  ...                         2            80
14                19  ...                         2            80
21                27  ...                         2            80
24                31  ...                         3            80
...              ...  ...                       ...           ...
1438            2023  ...                         1            80
1442            2027  ...                         2            80
1444            2032  ...                         4            80
1452            2044  ...                         4            80
1461            2055  ...                         2            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
2                    0                  7                      3
14                   0                  6                      4
21                   0                 10                      4
24                   0                  8                      2
...                ...                ...                    ...
1438                 1                  1                      3
1442                 3                  4                      3
1444                 1                 14                      4
1452                 2                 12                      3
1461                 1                 20                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
2                  3               0                  0
14                 3               4                  2
21                 3               5                  3
24                 3               4                  2
...              ...             ...                ...
1438               2               1                  0
1442               4               2                  2
1444               1              10                  9
1452               3               6                  3
1461               3               3                  2

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
2                           0                     0
14                          0                     3
21                          0                     3
24                          1                     3
...                       ...                   ...
1438                        1                     0
1442                        2                     2
1444                        9                     8
1452                        0                     1
1461                        2                     0

[237 rows x 35 columns]

<p>A performance-based salary increment by 5%</p>

In [26]:
print("MonthlyIncome Before Incrementation: ")
print(df["MonthlyIncome"])
#Increment By 1.05
df["MonthlyIncome"] = df["MonthlyIncome"] * 1.05
print("MonthlyIncome After Incermentation:")
print(df["MonthlyIncome"])

MonthlyIncome Before Incrementation:
0        7284.528956
1        6235.547063
2        2540.408063
3        3535.907681
4        4215.375675
            ...
1465     3125.066569
1466    12144.122944
1467     7465.639388
1468     6551.578688
1469     5353.089525
Name: MonthlyIncome, Length: 1470, dtype: float64
MonthlyIncome After Incermentation:
0        7648.755404
1        6547.324416
2        2667.428466
3        3712.703065
4        4426.144459
            ...
1465     3281.319897
1466    12751.329091
1467     7838.921357
1468     6879.157622
1469     5620.744001
Name: MonthlyIncome, Length: 1470, dtype: float64

<h2> Sorting</h2>

<p>Sort by YearsAtCompany ascending, then by MonthlyIncome descending</p>

In [40]:
sort_year = df.sort_values(by = "YearsAtCompany", ascending=True, inplace=True)
print("Sorting YearsAtCompant Column in Ascending:")
print(df["YearsAtCompany"])

Sorting YearsAtCompant Column in Ascending:
301      0
727      0
615      0
127      0
972      0
        ..
561     34
1116    36
270     36
98      37
126     40
Name: YearsAtCompany, Length: 1470, dtype: int64

In [41]:
#Sorting MonthlyIncome in Descending
sort_income = df.sort_values(by = "MonthlyIncome", ascending=False, inplace=True)
print("Sorting MonthlyIncome in Descending:")
print(df["MonthlyIncome"])

Sorting MonthlyIncome in Descending:
190     25524.354968
746     25491.171648
851     25452.883201
165     25431.186414
568     25345.675550
            ...
1365     1392.423185
1338     1379.660369
764      1342.648204
727      1341.371922
513      1287.768097
Name: MonthlyIncome, Length: 1470, dtype: float64

<h2>Aggregation & Grouping
<pre> Groups the dataset by Department and then:
1: Calculates the average MonthlyIncome
2: Finds the median Age
3: Sums up the Attrition values (e.g., total employees who left) for each department.

In [43]:
dep_grp = df.groupby(["Department"]).agg ({"MonthlyIncome":"mean", "Age":"median", "EmployeeCount":"sum"})
print(dep_grp)

                        MonthlyIncome   Age  EmployeeCount
Department
Human Resources           8493.025787  37.0             63
Research & Development    8016.647217  36.0            961
Sales                     8881.863738  35.0            446

<h2>Merging & Joining

Create a synthetic DepartmentBudget.csv with Department and Budget, then merge to compare budget allocation vs actual salary spend.

In [48]:
data =  {
    "Department": ["Human Resources", "Research & Development","Sales"],
    "Budget": [3000000, 8000000, 1500000]
}

df = pd.DataFrame(data)
#save the dataset by name of DepartmentBudget.csv
df.to_csv("DepartmentBudget.csv", index=False)

In [58]:
#Load both datasets

df_hr = pd.read_csv("HR_Employee_Attrition.csv")
df_DepBud = pd.read_csv("DepartmentBudget.csv")
#Compute actual salary spend per department
salary_spend = df_hr.groupby("Department")["MonthlyIncome"].sum().reset_index()
salary_spend.rename(columns={"MonthlyIncome": "ActualSalarySpend"}, inplace=True)
#Merge the two datasets
merged_df = pd.merge(df_DepBud,salary_spend , on= "Department", how="inner")

print(merged_df)

               Department   Budget  ActualSalarySpend
0         Human Resources  3000000             419234
1  Research & Development  8000000            6036284
2                   Sales  1500000            3103791

In [60]:
'''Compare budget vs actual spend
add a new column to check if the department is over or under budget.'''
#A new column to calculate the difference
merged_df ["BudgetDiffrence"]  = merged_df["Budget"] - merged_df["ActualSalarySpend"]
#Another column to see if department is under or over budget
merged_df ["Status"] = merged_df["BudgetDiffrence"].apply(lambda x: "Under Budget" if x >= 0 else "Over Budget")
print(merged_df)

               Department   Budget  ActualSalarySpend  BudgetDiffrence  \
0         Human Resources  3000000             419234          2580766
1  Research & Development  8000000            6036284          1963716
2                   Sales  1500000            3103791         -1603791

         Status
0  Under Budget
1  Under Budget
2   Over Budget